# Домашнее задание к Семинару 3
### 1 задание
- Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/kc_house_data
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк

# Описание признаков (столбцов) таблицы
- id - Уникальный ID для каждого дома
- date - Дата продажи дома
- price - Стоимость продажи дома
- bedrooms - Кол-во спален
- bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living - Кв. метры жилые
- sqft_lot - Кв. метры общие
- floors - Кол-во этажей
- waterfront - Есть набержная или нет
- view - Значение от 0 до 4 насколько хороший вид
- condition - Значение от 1 до 5 насколько хорошее состояние
- grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above - Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built - Год постройки дома
- yr_renovated - Год ремонта дома
- zipcode - Индекс
- lat - Широтма
- long - Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 - Кв. метры общей площади у 15 соседей

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive # подключаем GoogleDrive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/kc_house_data.csv', encoding='utf-8', sep=",") # Загружаем данные из файла
df.head(5) # выводим первые 5 строк

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

1.1 Создать новый признак price_per_sq_lot, который будет содержать среднюю стоимость за один кв. метр общей площади

In [ ]:
df['price_per_sq_lot'] = df['price'] / df['sqft_lot']
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650,39.274336
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639,74.288870
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062,18.000000
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000,120.800000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503,63.118812

1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома Если реновации дома не было, то в новом признаке поставьте 0

In [ ]:
df['delta_renovated'] = np.where(df['yr_renovated'] == 0, 0, df['yr_renovated'] - df['yr_built'])
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,39.274336,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,74.288870,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,18.000000,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,120.800000,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,63.118812,0

1.3 Создайте признаки года продажи, месяца продажи

Сначала меняем тип (формат) данных на datetime

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,39.274336,0
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,74.288870,40
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,18.000000,0
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,120.800000,0
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,63.118812,0

In [ ]:
df['year_sold'] = df['date'].dt.year
df['month_sold'] = df['date'].dt.month
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year_sold,month_sold
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,39.274336,0,2014,10
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,74.288870,40,2014,12
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,98028,47.7379,-122.233,2720,8062,18.000000,0,2015,2
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,0,98136,47.5208,-122.393,1360,5000,120.800000,0,2014,12
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,98074,47.6168,-122.045,1800,7503,63.118812,0,2015,2

1.4 Удалите признаки date, zipcode, lat, long

In [ ]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace= True)
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year_sold,month_sold
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180.0,0,1955,0,1340,5650,39.274336,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170.0,400,1951,1991,1690,7639,74.288870,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770.0,0,1933,0,2720,8062,18.000000,0,2015,2
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050.0,910,1965,0,1360,5000,120.800000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680.0,0,1987,0,1800,7503,63.118812,0,2015,2

## 3 задание
Создайте датафрейм с клиентами, где house_id - это индексы датафрейма с домами

In [ ]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236,
                  2295, 939, 3840,  280,   20, 4332, 3475, 4213, 3113, 4809,
                  2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764,
                  1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                 5083000375, 7920100025, 1951600150,  809001400,  339600110,
                 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                 8861700030, 3303980210, 7731100066, 8146100580,  825069097,
                 3889100029, 9524100196]
    })
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

2.1 Присоедините к таблице clients данные по домам через метод join

In [ ]:
clients_id = clients.set_index('house_id')
df_id = df.set_index('id')
clients_id.join(df_id).head()

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year_sold,month_sold
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,...,1610.0,0,1987,0,1300,3823,105.193076,0,2014,9
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,...,1630.0,0,1912,0,1710,3600,289.062500,0,2014,9
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,...,2650.0,0,1994,0,2550,42625,18.916595,0,2014,6
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,...,1240.0,470,1976,0,1600,6400,40.625000,0,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,...,1170.0,0,2001,0,1250,3136,277.618364,0,2014,10

2.2 Присоедините к таблице clients данные по домам через метод merge

In [ ]:
df.rename(columns={'id': 'house_id'}, inplace=True) # переименовываем столбец для идентичности
df.head()

,house_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year_sold,month_sold
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180.0,0,1955,0,1340,5650,39.274336,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170.0,400,1951,1991,1690,7639,74.288870,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770.0,0,1933,0,2720,8062,18.000000,0,2015,2
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050.0,910,1965,0,1360,5000,120.800000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680.0,0,1987,0,1800,7503,63.118812,0,2015,2

In [ ]:
clients.merge(df, how= 'outer').head()

,client_id,house_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year_sold,month_sold
0,1459.0,8965450190,295000.0,3,2.50,1500,3060,2.0,0,0,...,1500.0,0,1994,0,2700,7734,96.405229,0,2015,2
1,4684.0,6823100225,700000.0,4,1.75,1870,6000,1.0,0,0,...,1670.0,200,1949,0,1710,6000,116.666667,0,2015,4
2,3498.0,5104540330,679000.0,4,2.50,3680,7236,2.0,0,0,...,3680.0,0,2006,0,3310,7180,93.836374,0,2015,5
3,3942.0,2131701075,420000.0,3,1.75,1720,5000,1.5,0,0,...,1720.0,0,1932,2009,1410,8300,84.000000,77,2014,12
4,4535.0,1522700060,518000.0,4,2.75,2520,14021,2.0,0,0,...,2520.0,0,1999,0,2330,14007,36.944583,0,2014,6

## 3 задание
### Составьте несколько сводных таблиц

3.1 Найдите среднюю стоимость домов в зависимости от количества спален Отсортируйте от меньшей стоимости к большей

In [ ]:
df.groupby('bedrooms')['price'].mean().reset_index().sort_values('price')

    bedrooms         price
1          1  3.176429e+05
2          2  4.013727e+05
0          0  4.095038e+05
3          3  4.662321e+05
11        11  5.200000e+05
4          4  6.354195e+05
12        33  6.400000e+05
5          5  7.865998e+05
10        10  8.193333e+05
6          6  8.255206e+05
9          9  8.939998e+05
7          7  9.511847e+05
8          8  1.105077e+06

3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [ ]:
df.groupby('condition')['price'].agg(['min', 'mean', 'max']).reset_index()

   condition       min           mean        max
0          1   78000.0  334431.666667  1500000.0
1          2   80000.0  327287.145349  2555000.0
2          3   75000.0  542012.578148  7062500.0
3          4   89000.0  521200.390033  7700000.0
4          5  110000.0  612418.089359  3650000.0


3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [ ]:
pd.pivot_table(df, index=['waterfront'], columns=['view'], aggfunc='size').reset_index()

view  waterfront        0      1      2      3      4
0              0  19489.0  331.0  955.0  491.0  184.0
1              1      NaN    1.0    8.0   19.0  135.0

3.4 Каких домов в зависимости от этажности и количества спален больше?

In [ ]:
df.groupby(['floors', 'bedrooms']).size().reset_index(name='count').sort_values(by='count', ascending=False)

    floors  bedrooms  count
3      1.0         3   5455
23     2.0         4   3682
22     2.0         3   3118
4      1.0         4   2383
2      1.0         2   1951
13     1.5         3    786
24     2.0         5    775
14     1.5         4    698
5      1.0         5    605
21     2.0         2    497
42     3.0         3    405
15     1.5         5    185
12     1.5         2    182
1      1.0         1    162
41     3.0         2    123
25     2.0         6    119
6      1.0         6    104
43     3.0         4     61
34     2.5         4     58
33     2.5         3     56
16     1.5         6     30
35     2.5         5     23
11     1.5         1     21
26     2.0         7     19
36     2.5         6     14
44     3.0         5     13
20     2.0         1     12
7      1.0         7      9
17     1.5         7      7
19     2.0         0      6
27     2.0         8      6
45     3.0         6      5
8      1.0         8      5
32     2.5         2      5
49     3.5         3      4
0      1.0         0      4
28     2.0         9      4
40     3.0         1      3
37     2.5         7      2
38     2.5         9      2
39     3.0         0      2
29     2.0        10      2
48     3.5         2      2
31     2.5         1      1
30     2.0        11      1
18     1.5         8      1
10     1.0        33      1
46     3.0         7      1
47     3.5         0      1
9      1.0        10      1
50     3.5         8      1

3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [ ]:
pd.pivot_table(df, values='price', index=['condition'], columns=['grade'], aggfunc='median')

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000.0,NaN,150000.0,190000.0,255000.0,403500.0,932500.0,NaN,NaN,NaN,NaN,NaN
2,NaN,280000.0,145000.0,180000.0,235000.0,305000.0,429000.0,715000.0,1752500.0,NaN,NaN,NaN
3,NaN,75000.0,205000.0,234475.0,265000.0,357500.0,485000.0,689000.0,890000.0,1209500.0,1807500.0,2888000.0
4,NaN,NaN,238525.0,229975.0,295000.0,390000.0,571250.0,823500.0,1030000.0,1685000.0,2125000.0,5750000.0
5,NaN,262000.0,NaN,227450.0,285475.0,456000.0,696000.0,1078000.0,1650000.0,2050000.0,1990000.0,NaN